name: CI CPU

on:
  push:
    branches: [master]
  pull_request:

jobs:
  cpu-test:
    runs-on: self-hosted
    container:
      image: localhost:5000/megengine-ci:latest
    steps:
      - name: Checkout MegEngine
        uses: actions/checkout@v2
      - name: Checkout submodules
        run: |
          ./third_party/prepare.sh
          ./third_party/install-mkl.sh
      - name: Build MegEngine
        run: ./ci/cmake.sh cpu
      - name: Python test
        run: ./ci/run_python_test.sh cpu
      - name: C++ test
        run: ./ci/run_cpp_test.sh cpu
